snippet fixserv "fixture servlet"
require 'spec/fixture_server/fixture_servlet'

module Clinkle
  module Fixtures
    class ${1}Servlet < Clinkle::FixtureServlet
      fixture_for :GET, '${2}' do

        type :default do
          on %q()
          respond_with %q(
$0
          )
        end

      end
    end
  end
end

endsnippet
