snippet fixture "fixture servlet"
require 'spec/fixture_server/fixture_servlet'

module Clinkle
  module Fixtures
    class ${1}Servlet < Clinkle::FixtureServlet
      fixture_for :${2:GET}, '${3}' do

        type :${4:default} do
          on %q()
          respond_with %q(
$0
          )
        end

      end
    end
  end
end

endsnippet
