[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:brieb/vim.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git@github.com:brieb/vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:brieb/vim.git
[submodule "bundle/rename.vim"]
	path = bundle/rename.vim
	url = git@github.com:brieb/vim.git
[submodule "bundle/simple-javascript-indenter"]
	path = bundle/simple-javascript-indenter
	url = git@github.com:brieb/vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-arcanist"]
	path = bundle/vim-arcanist
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:brieb/vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git@github.com:brieb/vim.git
