(function() {
  'use strict';

  namespace('Clinkle${1:.Internal}.Views').${2} = Clinkle.Views.View.extend({
    template: '${3}',

    initialize: function(options) {
      _.extend(this, options);
      this.$el = $(this.el); // TODO: Remove when Backbone upgrade.
			_.bindAll(this);
			${4}
    },

		render: function() {
			return this;
		}

  });

}());

